<!-- The variable "errorMessage" will only be displayed if it was already defined.
    If we don't have this condition, we'll get an error. -->
<% if(locals.errorMessage != null) { %>
    <div class="error-message">
        <%= errorMessage %>
    </div>
<% } %> 
