<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    <!-- Including this file to appear in all of our pages (content is constant in every page) -->
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <!-- this line will include every one of our pages in this body page (content changes depending on the page we're rendering) -->
    <%- body %>
</body>
</html>