<!-- We use _ in the name to indicate that this is a partial file and not a file that renders to the server (naming conventions) -->
<label>Name</label>
<input type="text" name="name" value="<%= author.name %>">